@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@media (hover: hover){
	.heder--items.btn:hover, footer button:hover, .about .about--text button:hover, .books--text button:hover, .emali--form--ation button:hover, .question .form--question button:hover{
		background-color: crimson;
	}
}

body{
	background: #fff;
	padding: 0;
	margin: 0;
	
	font-size: 16px;
	 font-family: "Open Sans", sans-serif;
}
a{
 text-decoration: none;
 color: #000;
}
header{
	height: 30px;
	display: flex;
	justify-content: space-between;
	padding: 40px 0; 
	flex: 20% 70% 10%;
	margin: 0;
}

header nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0px;
	padding: 0;

}
header nav ul li{
	width: 30%;
	text-align: center;
	transition:all 1000ms ease;
	border-radius: 5px;

}
header nav img{
	display: none;
}
@media(hover: hover){
header nav ul li:hover{
	background:  #344742;

}
header nav ul li:hover a{
	color: #fff;
}
}
header nav ul li a{
	transition:all 1000ms ease;
}

header nav {
	margin: 0px;
	padding: 0;
	width: 500px;
}
.container{
	width: 90%;
	max-width: 1140px;
	margin: 0 auto;
}
.heder--items{
	height: 20px;
}
.logo{
	width: 158px;

}
.heder--items.btn, .question .form--question button,  footer button {
	width: 271px;
	height: 27px;
	border-radius: 13.5px;
	border: 0;
	background: #cfb02c;
	color:#fff;
	transition: all 500ms ease;
	cursor: pointer;
}
header > img{
	display: none;
}
@media(max-width: 918px){
		.heder--items.btn{
		font-size: 10px;
	}
	}

@media(max-width: 758px){
		.heder--items.btn{
		font-size: 10px;
		width: 40%;
	}
	header > img{
		display: block;
		position: fixed;
		top: 5px;
		left:40%;
		width: 45px;
		height: 45px;
		z-index: 3;
	}
	.hide{
		opacity: 0;
	}
	.show{
		opacity: 1;
	}
	header nav ul{
		
		transition:all 500ms ease;
	}
	header nav .heder--items{
		position: fixed;
		width: 50%;
		background: #344760;
		height: 100vh;
		transition: all 500ms line;
		z-index: 2;
		top:0;
		left: 0;	
		flex-direction: column;
		justify-content: start;	
		padding-top: 40px;
	}
	header nav .heder--items li{
		display: block;
		margin: 10px auto;
		text-align: center;
	}

	header nav, header nav::after, header nav::before{
		content: ' ';
		width: 30px;
		height: 2px;
		background: #344742; 
		border-radius: 10px;
		
	}
	header nav::after, header nav::before{
   		display: block;
   		position: relative;
 	 
	}
	header nav::after{
		top: -6px;
	}
	header nav::before{
		top: 4px;
	}
	header nav{
		position: relative;
		top: 50%;
		left: 20%;
		
	}
	.bgwhite{
		position: fixed;
		top: 25px;
		left: 45%;
		background: #fff;
		border-radius: 50%;
		height: 50px;
		width: 50px;
	}
}


/*-----------------About--------------------------------*/



.about{
	background: #344742;
	padding: 0;
	margin: 0;
	border: 0;
	color: #fff;
	padding-bottom: 40px;
}
.about .container{
	display: flex;
	justify-content: space-between;
}

.about .container > div{
	width: 40%;
	margin: 0 5%;
}
.about h1{
	font-size: 72px;
	font-weight: 800;
}
.active{
	display: none;
}

.about .about--banner img{
	margin-top: 60px;
	max-width: 570px;
	width: 100%;
	border-radius: 150px 150px 0 0;
}
.about .about--text{
	margin-top:30px;
	margin-left: 10%;
	width: 100%;
	height: 50%;
	padding-top:100px; 
}
.about .about--text h2{
	font-size: 18px;
	font-weight: 400;
}

.about .about--text button, .books--text button{
	text-align: center;
	position: relative;
	background: #cfb02c;
	
	height: 72px;
	border: 0;
	border-radius: 20px 0 20px 0;
	margin-top: 20px;
	color: #fff;
	padding: 31px 0;
	transition: all 500ms ease;
}
.about .about--text button{
	width: 100%;
	max-width: 300px;
}
.about .about--text button img, .books--text button img{
	position: absolute;
	right: 25%;
	top: 43%;
	width: 15px;
	height: 15px;
	cursor: pointer;
	
}
@media (max-width: 870px){

	.about h1{
	font-size: 48px;
	
}
}
@media (max-width: 576px){

	.about h1{
		font-size: 36px;
	}

	.about .container{
		display: block;
	}
	.about .container > div{
	width: 80%;
	margin: 0 10%;
}
}
/*-------------------main------------------------*/

.text{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px 0;

}
.text h2{
	align-self: center;
	flex:2;
	width: 50%;
	margin-top: 100px;
	font-size: 36px;
	font-weight: 800;

}
.text h3{
	font-size: 20px;
	font-weight: 400;
}	
@media(max-width: 1000px){
	.text h2{
		font-size: 30px;
		margin-top: 30px;
	}
	.text h3{
	font-size: 18px;
	font-weight: 400;
}

}
@media(max-width: 768px){
		.text h2{
		font-size: 20px;
		margin-top: 30px;
	}
	.text h3{
	font-size: 12px;
	font-weight: 400;
}

}

@media(max-width: 576px){
	.text h2{
		font-size: 12px;
		margin-top: 30px;
	}
	.text h3{
	font-size: 7px;
	font-weight: 400;
}
}
/*------------------steps---------------*/
.steps{
	background: #cfb02c;
	padding:50px ;
	margin: 0;
	border: 0;
	color: #fff;
	border-radius:  80px 0 0 0; 
}
.steps h2{
	text-align: center;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 80px;
}
.steps .cards {
	display: grid;
	grid-template-columns:20% 20% 20% 20%;
	justify-content: space-around;

}
.steps .cards .card {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.steps .cards .card img{
		width: 64px;
	}

@media(max-width: 768px){
	.steps{
		padding: 30px;
	}

	.steps .cards {
		grid-template-columns:40% 40%;
	
	}
	.steps .cards .card{
		margin-top: 30px;
		align-items: center;
	}
	
}

/*-----------------work----------------*/

.work{
	background: #cfb02c;
	padding: 50px 0;
	margin: 0;
	border: 0;
	color: #fff;
}
.work h2{
	text-align: center;
	font-size: 48px;
	font-weight: 800;
	margin-top: 0;
}
.work .work--content{
	display: flex;
	justify-content: space-around;
	margin-top: 120px;
}

.work .work--banner, .work .work--text{
	width: 50%;
}
.work .work--banner img{
	width: 100%;
	max-height: 709px;
	border-radius: 100px 0 0 0; 
}
.work .work--text{
	padding-top: 30px;
	padding-left: 30px;
}
.work .work--text h3{

	font-size: 24px;
	font-weight: 800;
	margin: 10px 0;
}
.work .work--text p{
	font-size: 18px;
	font-weight: 400;
}
@media(max-width: 768px){
	.work .work--banner, .work .work--text{
		width: 100%;
	}
	.work .work--content {
		flex-wrap: wrap;
	}
	.work .work--banner img	{
		width: 90%;
	}

}


/*-------------------Books---------------------------*/
.books {
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
}
.books--banner{
	width: 50%;
	padding: 20px;
}
.books--banner img	{
	width: 100%;

}
.books--text{
	margin-bottom: 40px;
	width: 50%;
}

.books--text h3{
text-transform: uppercase;
font-size: 20px;
font-weight: 500;
margin-top: 70px;
}
.books--text h2{
	font-size: 48px;
	font-weight: 800;

}
.books--text p {
	font-size: 18px;
	font-weight: 400;
}
.books--text button{
	max-width: 300px;
	width: 90%;
}

@media(max-width: 768px){
	.books--banner, .books--text{
		width: 100%;
	}
	.books {
		flex-wrap: wrap;
	}
	.books--banner img	{
		width: 50%;
		float: right;
	}

}

/*-------------email------------*/

.email{
	background: url('../img/buddha-bowl-dish-5.jpg') no-repeat center center fixed ;
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 585px;
}
.email--form{
	height: 70%;
	width: 70%;
	background:#fff;
	border-radius: 0 40px 0 40px;
	padding: 50px;
	margin: auto 0;
}
.email--form h2{
	text-align: center;
	font-size: 48px;
	font-weight: 800;
	margin-top: -15px;
	margin-bottom: 20px;

}
.email--form p,.email--form h3 {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
}
.email--form h3{
	color: #808080;
}
.emali--form--ation{
	display: flex;
	justify-content: space-around;
	margin-top: 29px;
}
.emali--form--ation button{
	height: 58px;
	width: 30%;
	background: #cfb02c;
	border-radius: 29px;
	border:0;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	cursor: pointer;
	transition: all 500ms ease;
}
.emali--form--ation input, .question .form--question input{
	border-left:0; 
	border-right:0;
	border-top:0;
	border-bottom: 0.8px solid #808080;
	width: 430px;
	height: 58px;
	cursor: pointer;

}
.emali--form--ation input:focus-visible,    .footer--form input:focus-visible, .question .form--question input:focus-visible, .question .form--question textarea:focus-visible{
	outline: none;
}
.wraper{
	background: #293330;
}
@media(max-width: 576px){
	.email--form h2{
	font-size: 30px;
	margin-top: 50px;
}


	.email--form p, .email--form h3{
	font-size: 12px;
}
.emali--form--ation{
	flex-wrap: wrap;
}

.emali--form--ation button{
	margin-top: 20px;
	width: 70%;
}
}

/*----------------------question-----------------------------------*/

.question{
	display: flex;
	justify-content: space-between;


}
.question .form--question{
	width: 50%;
	max-height: 945px;
	border-radius: 100px;
	background: #fff;
	padding: 30px;
	text-align: center;
}
.question .form--question h2{
	font-size: 36px;
	font-weight: 800;
	margin-top: 120px;
}
.question .form--question p{
	font-size: 18px;
	font-weight: 400;
	margin-top: 20px;
}
.question .form--question input{
	display: block;
	width: 100%;
	height: 58px;
	margin-bottom: 20px;
}
.question .form--question button{
	display: block;
	height: 71px;
	width: 100%;
	border-radius: 36px;
}
.question .form--question textarea{
	border-left:0; 
	border-right:0;
	border-top:0;
	border-bottom: 0.8px solid #808080;
	resize: none;
	height: 150px;
	width: 100%;
	margin-bottom: 20px;
}
.question .frequently--questions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 100%;
	margin: auto 0;
	padding:30px;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}
.question .frequently--questions summary{
	padding-right: 40px;
	height: 58px;
}
  details > summary{
  	border-bottom: 1px solid;
  	list-style: none;
  	position: relative;

  }
  @media{
  details > summary:hover{
  	background: #344742;
  }
}
  details[open] > summary{
  	background:#4C4F17;
  }

  summary img{
  	position: absolute;
  	right: 0;
  	top: 10px;
  }
   details{
   	  	margin-bottom: 10px;
   }
   details p{
   	font-size: 18px;
   	font-weight: 400;
   }

@media(max-width: 768px){
	.question .frequently--questions, .question .form--question{
		width: 100%;
	}
	.question {
		flex-wrap: wrap;
	}

}




   /*---------------foooter-------------*/
  footer{
  	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
  }

  .footer--items{
  	min-width: 200px;
  	align-items: center;
  }

   footer h2 {
   	color: #fff;
   	font-size: 24px;
   	font-weight: 800;
   	text-align: center;
   }
   .footer--link ul{
   	list-style: none;
   	color: #cfb02c;
   	font-size: 18px;
   	font-weight: 400;

   }
   .footer--link ul li{
   	margin-bottom: 10px;
   }
   .footer--link{
   	width: 20%;
   }
    footer .footer--icon{
    	padding:30px;
    	width: 20%;
    }
    .footer--form{
    	width: 20%;
    }
    .footer--form button, .footer--form input {
    	width: 100%;
    	height: 45px;
    	border-radius: 22.5px;
    	border:0;
    	margin-bottom: 10px;
    }
    .footer--form label{
    	display: block;
    	margin-top: 50px;
    	color: #fff;
    	font-size: 16px;
    	font-weight: 400;
    }
